body{
	background-color:#ffffffea;
}

#principal{
	width: 725px;
	margin: auto;
	background-color:white;
}

#cabecalho{
	background-image: url("imagem/dado.jpg");
	background-repeat: no-repeat;
	height: 100px;	
	width: 200px;
	margin-top: 10px;
}

#menu ul{
	list-style-type: none;
	margin-top: 75px;
	margin-left: 150px;
}

#menu ul li{
	float: left;
	font-size: 20px;
	text-transform: uppercase;
	
   font-weight: bold;
}

#menu ul li a{
	padding-right: 10px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	color: #114455;
}

#menu ul li a:hover{
	background-color: #50BCE0;
}
/*LOGIN*/
.mass button {
	text-decoration:none!important;
	color:rgba(255,255,255,.5);
 }
 .mass button:hover,.mass button :active{
	 color:white;
	 text-decoration:none !important;
 }
 .modal-header{
	 color:rgba(255,255,255,.5);
	 background-color: #dc3545;
 }
 .modal-body{
	 margin-top: 10px;
	 margin-bottom: 10px;
	 margin-left: 60px;
 }
 .modal-footer {
	 background-color:#dc3545 
 }
 .modal-footer button {
	 text-decoration:none!important;
	 color:rgba(255,255,255,.5);
  }
  .modal-footer button:hover,.modal-footer button :active{
	  color:white;
	  text-decoration:none !important;
  }