
.col1 {
	text-align: center;
	font-family: dragonslapper;
	color: #8B0000;
	padding-top: 90px;	
	background-color: ;
}


.col2 {
	background-color: ;		
	text-align: justify;	
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: Belleza-Regular;
	background-color: white;#db7c26
	line-height: 25px;
}
.col2 img {	
	
	border-radius: 100%;
	
}
.col4 {
	background-color: ;		
	text-align: justify;	
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: Belleza-Regular;
	background-color: white;#db7c26
	line-height: 25px;
}
.col4 img {	
		
	text-align: left;
	border-radius: 100%;
	
}
@media(max-width: 1050px) {
	/* HOME*/
	.col4 img{
		max-width: 100%;
		background-size: 100%;
		text-align: center;
	}
	.col2 img{
		max-width: 100%;
		background-size: 100%;
		text-align: center;
	}
	
}