.carousel-inner img {
    max-height: 450px;
} 

.breve-descricao{
	text-align: center;
}

.breve-descricao p{
	font-family: "Belleza-Regular";
	text-align: left;
	font-size: 20px;
}

.breve-descricao img{
	margin-top: 50px;
	margin-bottom: 30px;
	width: 400px;
}

.slide-index{
   text-align: center;
   margin-top: 120px;
   margin-bottom: 20px;
}

.miniatura {
	width: 200px;
	height: 200px;
	margin-right: 15px;
	margin-bottom: 15px;
	background-size: contain;
	background-repeat: no-repeat;
}	

.miniatura a{
	text-decoration: none;
}

.test{
	text-align: center;
}

.blackbox{ 
	width: 100%;
	height: 100%;
	background-color: #8B0000;
	opacity: 0;
	padding-top: 120px;
	transition: 1s;
}

.blackbox:hover{
	opacity: 0.8;
	transition: 1s;

}
.blackbox-text{
	text-align: center;
}

.blackbox-text h1{
	font-size: 18px;
	color: #DCDCDC;
	text-transform: uppercase;
	text-align: center;
	font-family: "MedievalSharp";
	margin-top: -70px;
	
}

.blackbox-text h2{
	font-weight: normal;
	font-size: 15px;
	color: #DCDCDC;
	text-transform: none;
	margin-top: 0;
	font-family: "Belleza-Regular";
	margin-left: 10px;
	margin-right: 5px;
	text-align: left;
}

.produtos-destaques {
	font-family: "dragonslapper";
	text-align: left;
	color: #8B0000;
	margin-top: 9px;
	margin-bottom: 35px;
	margin-left: 10px;
}

.form-group{
	margin-top: 10px;
}

.contato-botao{
	text-align: right;
}

.img-contato{
	margin-top: 40px;
	
}

.titulo-contato h1{
	text-align: center;
	margin-top: 70px;
	font-family: "MedievalSharp";
	font-size: 45px;
}

@font-face{
  font-family: "dragonslapper";
  src: url('../fontes/dragonslapper.ttf') format('truetype');
}

@font-face{
  font-family: "Belleza-Regular";
  src: url('../fontes/Belleza-Regular.ttf') format('truetype');
}

@font-face{
  font-family: "MedievalSharp";
  src: url('../fontes/MedievalSharp.ttf') format('truetype');
}

@media(max-width: 1000px) {

.miniatura img{
	max-width: 100%;
	background-size: 100%;
	text-align: center;
}

.blackbox {
	opacity: 0;
}
.blackbox:hover{
	opacity: 0;
}
}
