
  .page-footer {
    
    align-self: bottom;
    float: bottom;
    background-color: #920000;  

  }
  .infoLojaWraperFooter{
    text-align: center;
    
    margin-top:  1.5pc;
 
 
  }
  .infoLojaFooter{
    display: inline-block;
    font-size: 1.1pc;
    color:#FFFFFF;
    
  }
  
  .iconeMidiaSocialFooter{
     margin-top: 0.2pc;
      font-size: 2.7pc !important;
      vertical-align: center;
      color :#920000;

  }
  .iconeMidiaSocialFooterWraperIndividual:hover .iconeMidiaSocialFooter{
     
      color :#FFFFFF;
    
      text-decoration: none;
 

  }
  .categoriaNomeInput{
    box-shadow: none; 
    border-width: 0px !important;
  }
  .categoriaNomeInput:focus{
    outline:none !important;
  }
  .categoriaDescInput{
    box-shadow: none; 
    border-width: 0px !important;
  }
  .categoriaDescInput:focus{
    outline:none !important;
  }
  .categoriaInfoText{
    
    font-size:2pc;
    color: #920000;
    text-align: center;
  }
  .categoriaDescText
  {
    font-size:20px;
    
    text-align: center;
  }

  .iconeMidiaSocialFooterWraperIndividual{
    display: inline-block;
    width: 3pc;
    height: 3pc;
    margin-left: 0.5pc;/
    margin-right: 0.5pc;
    background-color: #FFFFFF;
    border-radius:50pc;
  }
  .iconeMidiaSocialFooterWraperIndividual:hover{
      background-color :#920000;

  }
  .iconeMidiaSocialFooterWarper{
    text-align: center;
    margin-top: 0.3pc;
    margin-bottom: 0.5pc;
  
  }
  .productTableContainer{
    width: 100%;
    height: 70%;
     text-align: center;
    
     margin-left: auto;
     margin-right: auto;


  }

  .hiperlinkProductTable:hover{
    color: #920000;
    text-decoration: none;
  }
  .hiperlinkProductTable{
    color: #FFFFFF;
    
  }
  .iconeDeleteProductTableWraper{
    display: inline-block;
    background-color: #920000;
    border-radius:50pc;
    height:24px;
    width:24px;
  }
    
  .iconeDeleteProductTable{
 
    margin-top: 2px;
    font-size: 19px !important;
    vertical-align: center;
    color: #FFFFFF !important;

 }
 .iconeDeleteProductTableWraper:hover{
  
  background-color: #FFFFFF;
  
}
  
.iconeAddProductTableWraper:hover .iconeAddProductTable{
  text-decoration: none;
  color: #920000;

}
.iconeAddProductTableWraper{
  display: inline-block;
  background-color: #920000;
  border-radius:50pc;
  height:40px;
  width:40px;
  margin-top: 5.3pc;
margin-left: -10pc;
}
  
.iconeAddProductTable{

  margin-top: 2px;
  font-size: 40px !important;
  vertical-align: center;
  color: #FFFFFF;
  margin-left: 4px;

}
.iconeAddProductTableWraper:hover{

background-color: #FFFFFF;

}

.iconeDeleteProductTableWraper:hover .iconeDeleteProductTable{
text-decoration: none;
color: #920000 !important;

}
  table.table-bordered{
      border:1px solid #920000;
      margin-top:20px;
    }
  table.table-bordered > thead > tr > th{
      border:1px solid #920000;
  }
  thead.thead{
    background-color: #920000;
    color: #FFFFFF;
  }
  table.table-bordered > tbody > tr > td{
      border:1px solid #920000;
  }
 li{
  line-height: 0.7pc;
 }
  #map {
       
        
        height: 9pc;  
        width:  9pc; 
        margin-top:0.3pc;
        margin-left:0.3pc;
        border-radius: 50pc;
        display: inline-block;
        float: center;
       }  
       #mapLocalizacao {
       
        
        height: 9pc;  
        width:  9pc; 
        margin-top:0.3pc;
        margin-left:0.3pc;
        border-radius: 50pc;
        display: inline-block;
        float: center;
       }


  .categoriaInputConfirm{
    
    margin-left:50px;
    background:#FFFFFF;
    
  }
  .categoriaInputConfirmButtomWraper{
    height: 30px;
    width: 30px;
    background-color:#920000;
    border-radius:50pc;
  }

  .categoriaInputConfirmButtomWraper:hover{
    background-color:#FFFFFF  ;
  }
  .categoriaInputConfirmButtom{
    color: #FFFFFF;
    font-size: 37px;
      
      margin-top: -150px;
  }
  
  .categoriaInputConfirmButtomWraper:hover .categoriaInputConfirmButtom{
    color: #920000;
    
  }
  .map-wraper{
    margin-top: 0.5pc;
    height: 9.6pc;
    width: 9.6pc;  
     background-color:#610000;
     border-radius: 50pc;
    margin-bottom: 0.5pc;
  
  }
  .mapwraperlocalizacao
  {
    margin-top: 0.5pc;
    height: 9.6pc;
    width: 9.6pc;  
     background-color:#610000;
     border-radius: 50pc;
    margin-bottom: 0.5pc;
  }
  .footer-copyright{
padding-top: 0.2pc;
    height: 2pc;
    background-color:#610000;
    text-align: center;
  
   
  }
  .footer-copyright-texto{

    color:#FFFFFF;
    font-size: 1pc;
  }
  .categoriaInfo{
    text-align: center;
    margin-top:5pc;
    
  }
  .categoriaInfoBox{
    margin-left: auto;
    margin-right: auto;  }

  .mapLocalizacaoWraper{
     height: 100%;
    width: 100%;
	
}
	.mapLocalizacaoof{
    height: 100%;
    width: 100%;
		background-color:red;
	
  }
  .imagemLocalizacao
  {

    height: 100%;
    width: 100%;
  }
  .localizacaoInfoWraper{
    margin-top:auto;
    margin-top: 5%;
    width: 100%;
    height: 60%;
    margin-bottom: 5%;
    margin-left:auto;
    margin-right:auto;

  }
  .imagemLocalizacaoWraper
  {

    height:100%;

  }
  .padding-0{
    padding-right:0;
    padding-left:0;
}